.App {
  text-align: center;
  margin-top: 100px;
  font-family: 'Assistant';
  direction: rtl;
  margin-bottom: 0px;
}

input[type=number] {
  width: 40px;
}

input[type=text] {
  width: 120px;
}

select {
  direction: rtl;
  text-align: right;
}