.mainNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #555;
}

.mainNav li {
    /* Links general styling */
    color: #2e2e33;
    font-size: 1.4rem;
    font-weight: bold;
    position: relative;
    z-index: 1;
    background-color: #555;
}

#link-styles {
    text-decoration: inherit;
    font-family: 'Assistant';
    color: white;
    float: left;
    margin: 10px;
    font-size: 1.4rem;
    font-weight: bold;
    position: relative;
    z-index: 1;
    background-color: #555;
    display: block;
    padding: 8px;
}

#link-styles:hover {
    background-color: grey;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1
}

#header {
    background-color: #555;
    position: fixed;
    top: 0;
    right: 20px;
    float: right;
    color: white;
    font-family: 'Assistant';
    font-size: xx-large;
    margin: 10px;

}